/*双 恒 网 络-ww w.Gre E02 0.cn--一个优 质 的 源 码下载 站 */
body,
html {
	margin:0px;
	padding:0px;
	font-family:微软雅黑;
}
body {
	background:url(../images/bg.png)no-repeat center center fixed;
}

.B {
	width:80%;
	height:5px;
	background:#f44;
	margin:10px auto 10px;
	border-radius:30px;
}


#header {
	width:100%;
	height:150px;
	margin-top:-10px;
	font-size:70px;
	line-height:150px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	text-shadow:3px 0px 3px #f44,
				-3px 0px 3px #f44,
				0px 3px 3px #f44,
				0px -3px 3px #f44;
}

#nav {
	width:60%;
	padding-top:10px;
	padding-bottom:10px;
	background: linear-gradient(to right,#f44,rgba(255, 68, 68, 0.5));
	margin:-5px auto 0px;
	min-width:300px;
	max-width:600px;
	text-align:center;
	font-weight:bold;
}

.btn {
	width:100px;
	padding:10px;
	color:#f44;
	background:rgba(255, 255, 255, 0.8);
	float:left;
	margin:15px;
	transition:0.5s all;
}

.btn:hover {
	box-shadow:5px 5px 15px rgba(0, 0, 0, 0.25);
	    transform: rotate(15deg);
}

#text {
	width:60%;
	min-width:200px;
	max-width:600px;
	border-radius:30px;
	border-left:20px solid #f44;
	border-right:20px solid #f44;
	padding:50px;
	background: linear-gradient(to right,rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.75));
	margin:150px auto 50px;
	position:relative;
	color:#f44;
	line-height:30px;
	text-align:center;
	transition:0.5s all;
}

#text:hover {
	box-shadow:5px 5px 30px rgba(0, 0, 0, 0.25);;
}